body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

form {
    margin: 2em;
}

#question-container {
    margin-bottom: 1em;
}

.question {
    margin-bottom: 1em;
}

.hidden {
    display: none;
}

#result-container {
    margin: 2em;
    text-align: center;
}

#result-text {
    font-size: 1.2em;
    font-weight: bold;
}
