body {
	font-family: Arial, sans-serif;
}

#question-container {
	margin: 50px auto;
	text-align: center;
}

#question-text {
	margin-bottom: 30px;
}

#button-container {
	display: flex;
	justify-content: center;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	margin: 0 10px;
}

#yes-button {
	background-color: #5cb85c;
	border: none;
	color: white;
}

#no-button {
	background-color: #d9534f;
	border: none;
	color: white;
}

#result-container {
	display: none;
	margin: 50px auto;
	text-align: center;
}

#result-text {
	margin-bottom: 30px;
}

#additional-text {
	font-style: italic;
}
