html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.answers {
    display: flex;
    justify-content: space-between;
}

.answer {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer:hover {
    background-color: #d4d4d4;
}
